.welcome-page
{
    color: white!important;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.welcome-page h1 {
    font-size: 56px;
}
.welcome-page h4 {
    font-size: 24px;
}

.login-button
{
    background-color: #218d42!important;
}